/*desktop*/
html {
	height: -webkit-fill-available;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background-color: #E5E5E5;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	margin: 0;
}
.corp {
	padding: 50px;
}
.logos {
	text-align: center;
}
.mobile-header, .mobile-nav, .button {
	display: none;
}
.nav {
	background-color: #E5E5E5;
	height: 10vh;
	width: 90vw;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.nav-item {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 50px;
	display: inline-block;
	cursor:  pointer;
}
.nav-item:hover {
	background-color: #FFFF00;
}
a {
	color: black;
}
.link {
	cursor:  pointer;
}
.link:hover {
	background-color: #FFFF00;
}
.title:hover {
	background: none;
	cursor: default;
}
.hangterkep {
	font-family: 'VT323', monospace;
	font-size: 140%;
}
.mi-ez {
	font-family: 'Geo', monospace;
	font-size: 125%;
}
.kuldj-hangot {
	font-family: 'JetBrains Mono', monospace;
}
.active {
	background-color: #FFFF00;
}
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 80vh;
	font-size: 90%;
}
.container-item {
	width: 100%;
	height: 100%;
	position: absolute;
}
.mi-ez-content {
	width: calc(100% - 90px);
	height: calc(100% - 90px);
	display: none;
	border: 5px solid #FFFF00;
	padding: 40px;
	overflow-y: auto;
	overflow-x: hidden;
}
.kuldj-hangot-content {
	width: calc(100% - 90px);
	height: calc(100% - 90px);
	display: none;
	border: 5px solid #FFFF00;
	padding: 40px;
	overflow-y: auto;
	overflow-x: hidden;
}
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-moz-selection {
  background: #FFF;
}
::selection {
  background: #FFF;
}

/*mobile*/
@media screen and (max-width: 850px) {
body {
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 20px;
}
.nav {
	display: none;
}
.mobile-nav {
	display: block;
	background-color: #E5E5E5;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.nav-item {
	display: block;
	padding: 20px;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}
.title {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20px;
	/*font-weight: bold;*/
	background: none;
	font-size: 20px;
}
.button {
	display: none;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 170%;
	text-align: center;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	padding: 0;
}
.open-button {
	display: block;
	left: 90%;
}
.close-button {
	top: 7.5%;
	left: 88%;
}
.mobile-header {
	display: block;
	z-index: 0;
	height: 15%;
	width: 95%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.container {
	width: 100%;
	height: 85%;
	top: 57.5%;
	transform: translate(-50%, -50%);
}
.mi-ez-content, .kuldj-hangot-content {
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	padding: 20px;
}
}